* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(255, 218, 203), #ee8b8b);
    background-attachment: fixed;
    padding-top: 4rem;
    padding-left: 10vw;
    padding-right: 10vw;
}

section {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 3px dotted white;
}

footer {
    margin-top: 10vh;
}

#forecastResults {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    --forecast-card-border-width: 0.15rem;
}

#forecastResults .error {
    text-align: center;
}

.card {
    width: 10rem;
    border: var(--forecast-card-border-width) solid black;
}
